:root {
  --font-family-anton: "Anton", sans-serif;
  --font-family-noto-sans-jp: "Noto Sans JP", sans-serif;

  --color-white: #fffefc;
  --color-black: #020911;
  --color-accent-red: #f20574;
  --color-accent-yellow: #f2e52e;
  --color-background-black: #171525;
  --color-background-navy: #030427;
  --color-form-background-yellow: #fffab9;
  --color-form-placeholder-gray: #ad9783;
  --color-form-border-red: #df6da2;
  --color-button-hover-red: #f043a5;
  --color-course-hover-yellow: #f4e877;
  --color-hero-overlay: rgba(57, 24, 111, 0.4);
  --color-course-overlay: rgba(32, 8, 19, 0.63);
}

/* global */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-body);
}

img {
  display: block;
}

/* header */
.header {
  height: 80px;
  background-color: var(--color-background-black);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
}

.header-logo-wrapper {
  margin: 0;
}

.header-logo {
  height: 50px;
}

@media (max-width: 750px) {
  .header {
    height: 60px;
  }

  .header-logo {
    height: 30px;
  }
}

/* hero */
.hero {
  background-image: url("./img/hero.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 40px;
  position: relative;
  margin-top: 80px;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-hero-overlay);
}

.hero-container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
}

.hero-texts {
  color: var(--color-accent-yellow);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hero-main-copy {
  font-family: var(--font-family-anton);
  font-size: 64px;
  line-height: 1;
  margin: 0;
  letter-spacing: 0.05em;
}

.hero-main-copy-accent {
  color: var(--color-accent-red);
}

.hero-sub-copy {
  margin: 0;
}

@media (max-width: 750px) {
  .hero {
    padding: 40px 20px;
    margin-top: 60px;
  }

  .hero-container {
    justify-content: flex-start;
  }

  .hero-texts {
    gap: 20px;
  }
}

/* about */
.about {
  display: flex;
  justify-content: center;
  background-color: var(--color-background-black);
  color: var(--color-white);
  padding: 80px 0px;
}

.about-container {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
  max-width: 880px;
  gap: 40px;
}

.about-section-head {
  text-align: center;
  font-size: 32px;
  font-family: var(--font-family-anton);
  padding: 0px 40px;
  margin: 0;
}

.about-accent-red {
  color: var(--color-accent-red);
}

.about-accent-yellow {
  color: var(--color-accent-yellow);
}

.about-body-and-images {
  display: flex;
  gap: 20px;
}

.about-section-body {
  margin: 0;
  flex: 1;
  align-self: center;
  color: var(--color-white);
  font-family: var(--font-family-noto-sans-jp);
}

.about-image-wrapper {
  width: 320px;
  height: 180px;
}

.about-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 750px) {
  .about {
    padding: 40px 0px;
  }

  .about-container {
    width: 100%;
    padding: 0px 20px;
  }

  .about-section-head {
    font-size: 24px;
  }

  .about-section-body {
    width: 100%;
  }

  .about-image-wrapper {
    display: none;
  }
}

/* courses */
.courses {
  display: flex;
  justify-content: center;
  background-color: var(--color-background-navy);
  color: var(--color-white);
  padding: 80px 0px;

}

.courses-container {
  display: flex;
  flex-direction: column;
  max-width: 880px;
  padding: 0px 40px;
  gap: 40px;
}

.courses-section-head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 32px;
  font-family: var(--font-family-anton);
  margin: 0;
}

.courses-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.courses-cards-container {
  display: flex;
  flex-direction: row;
  background-color: var(--color-accent-yellow);
  box-shadow: 4px 4px  var(--color-accent-red);
  text-decoration: none;
  transition-duration: 0.3s;
}

.courses-cards-container:hover {
  background-color: var(--color-course-hover-yellow);
  box-shadow: 12px 12px var(--color-button-hover-red);
}

.card-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 250px;
  background-image: url("./img/live.png");
  background-size: cover;
  position: relative;
}

.card-image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-course-overlay);
}

.card-image {
  z-index: 1;
  color: var(--color-white);
  font-size: 32px;
  font-family: var(--font-family-anton);
  background-size: cover;
}

.card-body-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  padding: 20px;
  font-family: var(--font-family-noto-sans-jp);
}

.card-body {
  flex-grow: 1;
  color: var(--color-black);
  margin: 0;
}

.card-more {
  align-self: flex-end;
  color: var(--color-accent-red);
  text-decoration: none;
}

.courses-big-button {
  text-decoration: none;
  color: var(--color-white);
  max-width: 800px;
  height: 60px;
  background-color: var(--color-accent-red);
  box-shadow: 4px 4px  var(--color-accent-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
}

.courses-big-button:hover {
  transition: background-color 0.3s, box-shadow 0.3s;
  background-color: var(--color-button-hover-red);
  box-shadow: 12px 12px var(--color-accent-yellow);
}

.big-button-label {
  text-align: center;
  width: 670px;
  font-family: var(--font-family-noto-sans-jp);
  font-size: 20px;
}

@media (max-width: 750px) {
  .courses {
    padding: 40px 0px;
  }

  .courses-container {
    width: 100%;
    padding: 0px 20px;
  }

  .courses-section-head {
    font-size: 24px;
  }

  .courses-cards-container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .card-image-wrapper {
    font-size: 24px;
    width: 100%;
    height: 220px;
  } 

  .card-image {
    font-size: 24px;
  }

  .card-body-wrapper {
    font-size: 12px;
    width: 100%;
  }

  .courses-big-button {
    width: 100%;
    padding: 0px 20px;
  }

  .big-button-label {
    width: 100%;
    font-size: 14px;
  }

  .arrow-icon {
    height: 30px;
    width: 30px;
  }
}